#package-modal.modal.hide.fade(tabindex='-1', data-width='760')
		.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				-if(typeof image == 'string')
					img(src='/files/' + image)
			.modal-body
				div.package-row
					h2 #{name} / #{price}
					div!=details

