#package-modal.modal.hide.fade(tabindex='-1', data-width='760')
		.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				img(src='/files/' + image)
				h3 Responsive
			.modal-body
			.modal-footer
				button.btn(type='button', data-dismiss='modal') Close

