if(navigation && navigation.length)
	nav#sub-nav
			.container
					.navbar
						ul.nav
							-each nav in navigation
								li
									a(href=nav.url, nav-slug=nav.slug, class=nav.active?"active":"")=nav.text
