extends layout

block content
	include components/subnavs
	section#body.container
			#page.row
					.pages-head.span12
						h3 ROL Company Info
				.row.company-row
					.span5.thirteen
						h3 Press Releases
						ul.unstyled
							li.row.press-row
								.span1
									| 06/19/2013
								.span3
									ul.unstyled
										li
											a(href='#') HBO GO & WatchESPN Come to Apple TV
										li
											a(href='#') Apple Unveils iOS 7
										li
											a(href='#') Apple Announces iTunes Radio
							li.row.press-row
								.span1
									| 06/19/2013
								.span3
									ul.unstyled
										li
											a(href='#') HBO GO & WatchESPN Come to Apple TV
										li
											a(href='#') Apple Unveils iOS 7
							li.row.press-row
								.span1
									| 06/19/2013
								.span3
									ul.unstyled
										li
											a(href='#') HBO GO & WatchESPN Come to Apple TV
					.span4.thirteen
						h3 Company Overview
						ul.unstyled
							li
								a(href='#') Read Company Overview
							li
								a(href='#') Services
							li
								a(href='#') Leadership Team
							li
								a(href='#') Social Responsibility
						h3 Job Opportunities
						p Want to work at ROL?
						a(href='#') Overview
						h3 News
						a(href='#') Get the latest news about ROL
						h3 ROL Investor Relations
						a(href='#') Overview
					.span3
						h3 Contact Us
						ul.unstyled.thirteen
							li
								strong Raajje Online
							li Fasmeeru Building, 4th Floor
							li Boduthakurufaanu Magu
							li Male'
						h6 ROL Sales & Support
						p
							| Need service or support?
							a(href='#') Send your request online
							| and we'll find you a solution for you.
						ul.unstyled.thirteen
							li By Phone: 3335533
							li
								| By Email:
								a(href='mailto: info@rol.net.mv') info@rol.net.mv
						h6 ROL Technical Support
						p
							| Need service or support?
							a(href='#') Send your request online
							| and we'll find you a solution for you.
						ul.unstyled.thirteen
							li By Phone: 3335533
							li
								| By Email:
								a(href='mailto: info@rol.net.mv') info@rol.net.mv
					.span4

