extends layout

block content
	include components/subnavs
	section#body.container
			#page.row
					.pages-head.span12
						h3 Contacting ROL
				.row.contact-row
					.span8
						div
							h3 Send us a message
							p Having any issues? check out our 
								a(href='') frequently asked questions
							textarea(placeholder='Please write your message').contactmsg
							div.btn-group
								span#submitmsg.btn.btn-primary Send Message
								span.btn.cms-clear Clear
						div#contact-faq.package-row
							h2 FAQ
							div#faqs
								-each post in faq
									div(id='faq' + post._id)
										div.accordion-group
											div.accordion-heading
												a.accordion-toggle(href="#"+post.title, data-parent='#faq' + post._id, data-toggle="collapse")
													span=post.name
											div.accordion-body.collapse(style="height: 0px;", id=post.title)
												div.accordion-inner
													div!=post.answer
					.span4
						h4 Sales & Product Inquiries
						div
							h6 ROL Sales Support
							p
								| Need service or support? 
								a(href='#') Send your request online 
								| and we'll find you a solution for you.
							div
								p More ways to get help:
								p
									| By Phone:
									strong 3335533
								p
									| By Email: 
									a(href='mailto: info@rol.net.mv') info@rol.net.mv 
								p
									| If you are outside Maldives please call
									strong	+960 3335533 
						h4 Product & Technical Support
						div
							h6 ROL Technical Support
							p
								| Visit the 
								a(href='#') ROL Support site 
								| for quick answers, manuals, and in-depth technical articles.
						div
							h6 Contacting ROL Technical Support
							p
								| Need technical support? 
								a(href='#') Send your request online 
								| and we'll find you a solution for you.
							div
								p More ways to get help:
								p
									| By Phone:
									strong 3335533
								p
									| By Email: 
									a(href='mailto: info@rol.net.mv') info@rol.net.mv 
								p
									| If you are outside Maldives please call
									strong	+960 3335533 
						h4 Corporate Address
						ul.unstyled.thirteen
							li
								strong Raajje Online
							li Fasmeeru Building, 4th Floor
							li Boduthakurufaanu Magu
							li Male'

