extends layout

block content
	#top-space.hidden-phone
		section#rol-carousel.hidden-phone
			img(src='http://joyent.com/assets/img/homepage/background-photo.jpg')
		section#body.container
			#box-row.row
				.span3
					.inner-box
						h3 Take your Internet with you
						.img-placeholder
							img.span3.spacer(src='http://www.shaw.ca/uploadedImages/Ecomm/Images/internet/Internet_ShawGoWiFi(1).jpg')
						p
							| The future of home management technology is being created now. Comcast is bringing the power of the cloud to home management.
				.span3
					.inner-box
						h3 Save time by activating online
						.img-placeholder
							img.span3.spacer(src='https://fiber.google.com/img/plans/tv-box.jpg')
						p
							| Comcast's advanced fiber network powers small and mid-sized companies with the solutions they need to make their businesses more productive.
				.span3
					.inner-box
						h3 Get the most out of your HD experience
						.img-placeholder
							img.span3(src='https://fiber.google.com/img/plans/channels.jpg')
						p
							| Building on a long history of success making the movies people love. Creating imaginative films to delight a growing worldwide audience.
				.span3
					.inner-box
						h3 Save time by activating online
						.img-placeholder
							img.span3(src='http://www.shaw.ca/uploadedImages/Image_HDGuideSlider.jpg')
						p
							| We invent new technologies and drive innovation to transform the customer experience.
			.separator
				img(src='img/shadow.png')
			h2.rol-h Plans & Pricing
			#package-row.row
				a.span3.rol-package.active(href='#')
					h2 HOME USERS
					span Starting from MRF 500/month
					.arrow
				a.span3.rol-package(href='#')
					h2 SMALL & MEDIUM BUSINESS
					span Starting from MRF 500/month
				a.span3.rol-package(href='#')
					h2 LARGE CORPORATES
					span Starting from MRF 500/month
			#selected-package.row.offset1.span9
				h2.rol-h2
					| Experience the Internet like never before. Instant downloads.
					| Crystal clear HDTV. And endless possibilities.
				p
					| Up to one gigabit upload & download speed | Full channel TV lineup | 2 year contract | No data caps
					| Nexus 7 tablet | 1 TV Box | Storage Box | Network Box | 1TB of storage across Gmail, Drive and G+ Photos •
				p $120/mo + taxes & fees
		footer.container
			span.pull-left © 2013 ROL
			ul#footer-links.unstyled.pull-right
				li
					a(href='#') Company Info
				li
					a(href='#') Site Map
				li
					a(href='#') News
				li
					a(href='#') Contact Us
				li
					a(href='#') Terms of Use
				li
					a(href='#') Privacy Policy
			br.clear

