extends layout

block content
	section#rol-carousel.hidden-phone
		img(src='http://joyent.com/assets/img/homepage/background-photo.jpg')
	section#body.container
		#box-row.row
			-if(infopics.length)
				-each item in infopics
					.span3
						.inner-box
							h3=item.name
							.img-placeholder
								img.span3.spacer(src="/files/" + item.image)
							p=item.description
			
		.separator
			img(src='img/shadow.png')
		h2.rol-h Plans & Pricing
		#package-row.row
			a.span3.rol-package.active(href='#')
				h2 HOME USERS
				span Starting from MRF 500/month
				.arrow
			a.span3.rol-package(href='#')
				h2 SMALL & MEDIUM BUSINESS
				span Starting from MRF 500/month
			a.span3.rol-package(href='#')
				h2 LARGE CORPORATES
				span Starting from MRF 500/month
		#selected-package.row.offset1.span9
			h2.rol-h2
				| Experience the Internet like never before. Instant downloads.
				| Crystal clear HDTV. And endless possibilities.
			p
				| Up to one gigabit upload & download speed | Full channel TV lineup | 2 year contract | No data caps
				| Nexus 7 tablet | 1 TV Box | Storage Box | Network Box | 1TB of storage across Gmail, Drive and G+ Photos •
			p $120/mo + taxes & fees

