doctype 5
html(lang='en')
	head
		meta(charset='utf-8')
		title ROL
		-var _title = typeof _title == 'undefined' ? "ROL" : _title;
		-var _img = typeof _img == 'undefined' ? "http://evohome.mv/files/03231b5c07d1072c1c51d1d7afa16d3711f9a91e.jpg" : _img;
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200', rel='stylesheet', type='text/css')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap-select.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap-tour.min.css', rel='stylesheet')
		link(href='/stylesheets/styles.css', rel='stylesheet')
		// if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/bootstrap-tour.min.js')
		script(src='/javascripts/website.js')
		script(src='/javascripts/davis.min.js')
		style ul.breadcrumb li {text-transform:capitalize}
	body
		header#main-header.navbar.navbar-fixed-top
			nav.navbar-inner
				.container
					a.brand(href='/')#logo
						img(src='/img/logo.pngs')
					ul.nav.pull-right
						li
							a(href='#') About Us
						li
							a(href='#') Pay
						li
							a(href='#') Services
						li
							a(href='#') Contact
		#top-space.hidden-phone
		block content
		footer.container
			span.pull-left © 2013 ROL
			ul#footer-links.unstyled.pull-right
				li
					a(href='#') Company Info
				li
					a(href='#') Site Map
				li
					a(href='#') News
				li
					a(href='#') Contact Us
				li
					a(href='#') Terms of Use
				li
					a(href='#') Privacy Policy
			br.clear

